In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.drop('Pregnancies', axis=1,inplace=True)
df.head(2)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0

In [7]:
df.drop([0],axis=0,inplace=True)
df.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
5,116,74,0,0,25.6,0.201,30,0

In [8]:
df.dtypes

Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [9]:
df[['BMI','DiabetesPedigreeFunction']]=df[['BMI','DiabetesPedigreeFunction']].astype(int)

In [10]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,85,66,29,0,26,0,31,0
2,183,64,0,0,23,0,32,1
3,89,66,23,94,28,0,21,0
4,137,40,35,168,43,2,33,1
5,116,74,0,0,25,0,30,0
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32,0,63,0
764,122,70,27,0,36,0,27,0
765,121,72,23,112,26,0,30,0
766,126,60,0,0,30,0,47,1
767,93,70,31,0,30,0,23,0

In [11]:
df[['Glucose','BloodPressure']]=df[['Glucose','BloodPressure']].astype(float)
df[['SkinThickness','Insulin']]=df[['SkinThickness','Insulin']].astype(float)

In [12]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,85.0,66.0,29.0,0.0,26,0,31,0
2,183.0,64.0,0.0,0.0,23,0,32,1
3,89.0,66.0,23.0,94.0,28,0,21,0
4,137.0,40.0,35.0,168.0,43,2,33,1
5,116.0,74.0,0.0,0.0,25,0,30,0
...,...,...,...,...,...,...,...,...
763,101.0,76.0,48.0,180.0,32,0,63,0
764,122.0,70.0,27.0,0.0,36,0,27,0
765,121.0,72.0,23.0,112.0,26,0,30,0
766,126.0,60.0,0.0,0.0,30,0,47,1
767,93.0,70.0,31.0,0.0,30,0,23,0

In [13]:
df.dtypes

Glucose                     float64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
BMI                           int32
DiabetesPedigreeFunction      int32
Age                           int64
Outcome                       int64
dtype: object

In [14]:
import numpy as np

In [15]:
df.replace("?", np.nan, inplace = True)
df.head(5)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,85.0,66.0,29.0,0.0,26,0,31,0
2,183.0,64.0,0.0,0.0,23,0,32,1
3,89.0,66.0,23.0,94.0,28,0,21,0
4,137.0,40.0,35.0,168.0,43,2,33,1
5,116.0,74.0,0.0,0.0,25,0,30,0

In [17]:
print(df.loc[1:3,['Insulin','Outcome']])
print(df.county[0])

   Insulin  Outcome
1      0.0        0
2      0.0        1
3     94.0        0

AttributeError: 'DataFrame' object has no attribute 'county'